<div class="container bg-grey min-vh-100">
    <h1 class="pt-3">mpalourd-ai*</h1>
    <h6>*coding useless shit for years</h6>
    <div>
        <form class="pb-3 pt-3">
            <div class="row g-2">
                <div class="col-sm">
                    <div class="form">
                        <label for="prompt" class="visually-hidden">Prompt</label>
                        <input type="text" class="form-control" name="prompt" id="prompt" placeholder="Mon premier est une mite, mon second est errant. Qui suis-je ?"
                               [(ngModel)]="prompt">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form">
                        <button type="submit" class="btn btn-primary" (click)="request()"
                                [disabled]="!prompt">Go!
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

    @if (!!answer?.result || !!errorMessage) {
        <hr>
        <div class="pb-3">
            <markdown
                *ngIf="answer?.result"
                lineNumbers
                lineHighlight
                class="variable-binding"
                [data]="answer?.result">
            </markdown>
            <p>{{ errorMessage }}</p>
        </div>
    }
</div>
