<div class="container bg-grey min-vh-100">
    <div class="row">
        <h1 class="pt-3">mpalourd-ai</h1>
        <span class="text-body-tertiary pb-3 fst-italic small">coding useless shit for years</span>
    </div>
    <form class="pt-0 shadow p-3 mb-4 bg-body-tertiary rounded">
        <div class="row g-2">
            <div class="col-xl-8 col-sm-12 mt-3">
                <div class="input-group">
                    <span class="input-group-text pt-0 pb-0" id="terminal">
                        <i class="bi bi-terminal-fill fs-5"></i>
                    </span>
                    <input type="text"
                           class="form-control"
                           name="prompt"
                           id="prompt"
                           #promptField
                           autocomplete="off"
                           placeholder="Does Björk fart sometimes?"
                           [(ngModel)]="prompt">
                    <div class="input-group-text">
                        <input type="checkbox"
                               class="form-check-input mt-0"
                               id="custom"
                               name="custom"
                               [(ngModel)]="isCustom">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 mt-3">
                <div class="row g-2">
                    <div class="col">
                        <select class="form-select" name="model" [(ngModel)]="modelType" id="model">
                            @for (model of models; track model.name) {
                                <option [ngValue]="model">{{ model.name }}</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit"
                                class="btn btn-success"
                                (click)="request()"
                                [disabled]="!prompt()">Go!
                            <i [class]="{'bi-emoji-smile-upside-down-fill': isCustom,'bi-emoji-smile-fill': !isCustom}"
                               class="bi fs-6 ms-2"></i>
                        </button>&ngsp;
                        <button type="button"
                                class="btn btn-warning"
                                (click)="clear()">Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (!!answer() || !!errorMessage) {
        <div class="pb-3">
            <markdown
                clipboard
                lineNumbers
                *ngIf="!!answer()"
                [data]="answer()">
            </markdown>
            <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
                {{ errorMessage }}
            </div>
        </div>
        <div id="scroll-anchor"></div>
    }
</div>
